<h1>New To Do</h1>
<%= form_with scope: :to_do_item, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>
